{% extends "base.html" %}



{% block content %}


<div style="width: 100%; max-width: 1200px; margin: 90px auto">
    <div style="width: 100%; height: 100%; display: flex; align-items: center;">
        <img src="{{product.img.url}}" alt="" style="width: 300px; height: 300px;">
        <div style="width: 100%; height: 100%;">
            <span style="padding: 5px; border-radius: 5px; background: #a000a0; color: #fff; margin: 20px 0;">{{product.categorie}}</span>
            <p style="margin: 10px 0; font-size: 20px; color: #444;">${{product.price}}</p>
            <b style="font-size: 18px;">Description</b>
            <p style="margin: 10px 0; color: #666">{{product.description}}</p>
            <div style="display: flex;">
                <div>
                    <a href="favorite-{{product.id}}" name="addcart" style="margin-right: 10px"  class="btn btn-primary btn-primary"><i style="padding-right: 5px" class="fas fa-shopping-cart"></i>ADD TO CART</a>
                    <a href="favorite-{{product.id}}" name="removecart" class="btn btn-primary btn-danger">REMOVE FROM CART</a>
                </div>
            </div>


        </div>
    </div>

    <hr>

    <div style="text-align: center; max-width: 600px; margin: 15px auto;">
        <h2 style="color:#444; font-size: 21px; font-weight: bold;">Additonial information</h2>
        <p style="color: #666; font-size: 16px">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa qui ad sit suscipit libero consequatur sunt hic amet saepe doloribus commodi, veritatis quis voluptatibus consectetur aperiam dignissimos sapiente iste! Perferendis!</p>
    </div>



    <div style="width: 100%; max-width: 900px; margin: 20px auto; align-items: center; display: flex; justify-content: space-between;">

        {% for product in products %}
                <a href="/product-{{product.id}}" style="width: 200px; border-style: none !important; height: 200px;margin: 10px; padding: 5px 10px; background: #fff; cursor: pointer">
                    <div class="card text-center " style="border: none !important; width: 100%; height: 100%; display: flex; align-items: center;  ">
                            <img src="{{product.img.url}}"  style="width: 100%; height: 100%; " alt="">
                    </div>
                </a>
        {% endfor %}
      
        
      </div>
</div>



{% endblock %}